.editable-label textarea{
    width:100%;
    height: 100px;
}
.single-component {
    border: solid 1px #e2e2e2;
    padding: 10px;
    min-height: 120px;
}
.single-component  .last-updated {
    padding: 4px 10px;
}
.all-notes {
    border: solid 1px #e2e2e2;
    padding: 10px;
      min-height: 120px;
}
.note-editor button {
    margin:5px 0px;
     
}
 
.note-editor .notes-container .editable-label-inst{
    position: relative;
}
.note-editor .notes-container .editable-label-inst .btn-remove{
    position: absolute;
    top:2px;
    right: 8px;
}
.header-main {
    padding: 10px;
}








.moveable-panel {
    min-width: 400px;
    min-height: 150px;
    width: 400px;
     
    position: absolute;
    top:100px;
    left:244px;
}

.modal-backdrop.in {
    height: 100%;
    width: 100%;    
}